doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 硅谷电影-首页
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/index.css")
  body
    div(class="container")
      h1.title 硅谷电影-正在热映
      ul.row 
        each movie in movies
          li.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
            a(href="/subject/" + movie.id).item
              img(src=movie.cover).cover
              p.movie-title #{movie.title}
              p 评分: #{movie.score}
              button.btn.btn-light 开始购票