.box1 {
  width: 100px;
  height: 100px;
  background-color: #c81623;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: #e1251b;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: #e33333;
}
