/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  font-size: 12px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
a:active {
  color: #333;
}
a:visited {
  color: #333;
}
.box-shadow {
  box-shadow: 3px 3px 4px #777;
}
.max-w {
  width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-jc {
  display: flex;
  justify-content: center;
}
.f-ja {
  display: flex;
  justify-content: space-around;
}
.f-ac {
  display: flex;
  align-items: center;
}
.fb {
  display: flex;
  justify-content: space-between;
}
.els {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header {
  height: 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.header a {
  display: inline-block;
  height: 100%;
  line-height: 29px;
}
.header-wrap {
  height: 100%;
}
.header-home {
  position: relative;
  padding-left: 16px;
}
.header-home::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/brand.png);
  background-repeat: no-repeat;
}
.header-address {
  color: #666;
  margin-left: 8px;
}
.header-address::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 7px;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-position: 0px -96px;
  margin-left: 5px;
}
.header-certified {
  color: #666;
  padding-left: 20px;
  position: relative;
  margin-left: 5px;
}
.header-certified::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: -10px -432px;
}
.header-right a {
  margin-left: 10px;
}
.header-right > li {
  position: relative;
}
.header-shopcart {
  position: relative;
  padding-left: 20px;
}
.header-shopcart::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: -290px -44px;
}
.header-num {
  color: #ff0000;
}
.header-my {
  position: relative;
  padding: 0 20px;
}
.header-my::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: -312px -44px;
}
.header-my::after {
  position: absolute;
  top: 12px;
  right: 5px;
  content: "";
  border-top: 4px solid #333;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.header-my-wrap:hover .header-my-list {
  display: block;
}
.header-my-wrap:hover .header-my::after {
  transform: rotate(180deg);
  transform-origin: 50% 25%;
  transition: 0.3s transform;
}
.header-my-list {
  position: absolute;
  left: 12px;
  background-color: #fff;
  width: 100px;
  padding: 2px 0 5px 0;
  display: none;
}
.header-my-list a {
  line-height: 12px;
  margin-left: 0;
  padding-left: 8px;
}
.header-my-list a::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  margin-right: 7px;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-position: 0 -265px;
}
.header-collect::before {
  background-position: -354px -44px;
}
.header-phone {
  position: relative;
  padding-left: 12px;
}
.header-phone::before {
  position: absolute;
  top: 6px;
  left: -5px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: -336px -44px;
}
.main-top {
  align-items: center;
  height: 150px;
}
.main-logo {
  height: 54px;
}
.main-nav {
  font-size: 16px;
  margin-left: 40px;
}
.search-input {
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  font-size: 14px;
  width: 250px;
}
.search-btn {
  background-color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid #ddd;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.main-navbar {
  position: relative;
  z-index: 10;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.navbar-header {
  background-repeat: no-repeat;
  width: 230px;
  height: 57px;
  align-items: center;
  background-color: #fff;
}
.navbar-header a {
  font-size: 14px;
}
.left-active {
  background-image: url(../images/left-active.png);
}
.left-active a:first-child {
  font-size: 16px;
}
.right-active {
  background-image: url(../images/right-active.png);
}
.right-active a:last-child {
  font-size: 16px;
}
.navbar-item {
  height: 50px;
  cursor: pointer;
  align-items: center;
  border-left: 3px solid transparent;
}
.navbar-item a {
  font-size: 14px;
  margin-right: 30px;
  margin-left: -3px;
}
.navbar-item img {
  margin-top: 5px;
  margin-right: -20px;
}
.navbar-item:hover {
  background-color: #fff;
  border-color: #74be5e;
}
.navbar-line {
  height: 20px;
}
.main-carousel {
  width: 980px;
  margin-left: -10px;
  height: 417px;
  padding-top: 10px;
}
.main-carousel img {
  width: 980px;
  height: 100%;
  border-radius: 10px;
}
.sales-wrap {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sales-wrap img {
  border-radius: 10px;
}
.goods-list {
  background-color: #f5f5f5;
  padding-top: 20px;
}
.goods-header {
  align-items: center;
  height: 60px;
}
.goods-header span {
  font-size: 20px;
}
.goods-nav a {
  font-size: 18px;
  margin-left: 40px;
  padding-bottom: 8px;
}
.goods-nav .goods-nav-active {
  color: #74be5e;
  border-bottom: 3px solid #74be5e;
}
.goods-item-wrap {
  display: flex;
  flex-wrap: wrap;
}
.goods-item-wrap .goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods-item-wrap .goods-item:nth-child(4n) {
  margin-right: 0;
}
.goods-item {
  display: block;
  width: 230px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 12px;
  background-color: #fff;
  cursor: pointer;
}
.goods-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 7px 7px 10px rgba(56, 56, 56, 0.05);
}
.goods-img {
  width: 180px;
  height: 180px;
  margin: 10px 0;
}
.goods-title {
  width: 180px;
  height: 22px;
  font-size: 14px;
  color: #333;
}
.goods-desc {
  width: 220px;
  height: 20px;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}
.goods-price {
  color: #ff0000;
  font-size: 14px;
}
.goods-origin-price {
  color: #999;
  font-size: 13px;
  text-decoration: line-through;
}
.brand-wrap {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.brand-wrap div {
  width: 1800px;
}
.brand-wrap a {
  width: 158px;
  height: 80px;
  margin-right: 40px;
  border: 1px solid #ddd;
}
.brand-wrap a img {
  width: 110px;
  height: 60px;
}
.swiper-pagination {
  text-align: right;
  padding-right: 20px;
}
.swiper-pagination span {
  background-color: #74be5e;
}
