/* 
  多行注释（块注释） 
*/
* {
  margin: 0;
  padding: 0;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  border-bottom: 1px solid #ccc;
}
.box2 {
  width: 100px;
  height: calc(100vh - 100px);
  background-color: #c81623;
}
